@{
    ViewBag.Title = "_TablaDetalle";
}

@model List<EasyBuy.Models.detalle_producto>

@if (Model.Count != 0)
{
    <table class="table table-responsive table-striped tablaDetalle">
        <tr>
             <th>
                <label>Cantidad</label>
            </th>
            <th>
                <label>Color</label>
            </th>
            <th>
                <label>Talla</label>
            </th>
            <th>
                <label>Precio</label>
            </th>
            <th>
                <label>Imagen</label>
            </th>
          
            <th>
                <label>Genero</label>
            </th>
            <th colspan="2">
                <label>Promocion</label>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td id="nombreCapa">
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.talla)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imagen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genero)
                </td>

                <td>
                    @*@Html.CheckBoxFor(modelItem => item.Contrato, new { @class = "form-control", id = "contrato", @checked = item.Contrato, @readonly= "readonly" } )*@
                    @if (item.promocion)
                    {
                        <label id="contrato">Si</label>
                        @Html.ActionLink("Eliminar Promocion", "EliminarPromocion", "Producto", null, new { @class = "popup", id = item.id_detalle })
                    }
                    else
                    {
                        <label id="contrato">No</label>
                        @Html.ActionLink("Agregar Promocion", "AgregarPromocion", "Producto", null, new { @class = "popup", id = item.id_detalle })
                    }
                </td>
              
                <td>
                  
                        <br />
                        @Html.ActionLink("Editar", "EditarDetalle", "Producto", null, new { @class = "popup", id = item.id_detalle })
                    
                    <br />
                    @Html.ActionLink("Eliminar", "EliminarDetalle", "Producto", null, new { @class = "popup", id = item.id_detalle })
                </td>
               
            </tr>
        }

    </table>
}

