
@model List<EasyBuy.Models.Producto>


@{
    ViewBag.Title = "Mis Productos";
    WebGrid grid = new WebGrid();
}
<style>
    #target {
       background-color: cornflowerblue;
       position: relative;
    }
    #tablaDetalle .tr {
       background-color: cornflowerblue;
       position: relative;
    }
    .divEncabezado {
    color:cornflowerblue;
    }
</style>




<div  class="row">
    <div class="container">
        <div class="divEncabezado">
            <h1 class="Titulos">Mis Productos</h1>
            <ol class="breadcrumb migas breadcrumb-arrow">
                <li><a href="~/Producto/EmpresaIndex">Regresar</a></li>
            </ol>
        </div>
        <table id="tablaDetalle" class="table table-responsive table-striped tablaDetalle">

            <tr id="target">
                <th >
                    <label>Cod Producto</label>
                </th>
                <th>
                    <label>Descripcion</label>
                </th>
                <th>
                    <label>Categoria</label>
                </th>
                <th colspan="2" align="left">
                    <label style="text-align:left">Detalle</label>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td id="id_producto">
                        @Html.DisplayFor(modelItem => item.id_producto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoria)
                    </td>
                    @if (item.list_detalle_producto != null)
                {
                        <td align="center">
                            <table>
                                <tr>
                                    <th><label>Cantidad:</label></th>
                                    <th><label>Talla:</label></th>
                                    <th><label>Color:</label></th>
                                    <td><label>Precio:</label></td>
                                    <td><label>Promocion:</label></td>
                                </tr>
                                @foreach (var item2 in item.list_detalle_producto)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.cantidad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.talla)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.color)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.precio)
                                        </td>
                                        <td>
                                            @if (item2.precio_promocion != 0)
                                            {
                                                @Html.DisplayFor(modelItem => item2.precio_promocion)
                                            } else
                                            {
                                                <p>--------</p>
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "EditarDetalle", "Producto", null, new { @class = "popup", id = item2.id_detalle })
                                            <br />
                                            @Html.ActionLink("Agregar Promocion", "AgregarPromocion", "Producto", null, new { @class = "popup", id = item2.id_detalle })
                                        </td>
                                    </tr>
                                }
                            </table>

                        </td>
                        <td>

                            <br />
                            @Html.ActionLink("Editar", "EditarProductoCP", "Producto", null, new { @class = "popup", id = item.id_producto })

                            <br />
                            @Html.ActionLink("Eliminar", "EliminarProducto", "Producto", null, new { @class = "popup", id = item.id_producto })
                        </td>

                    }

                </tr>
            }

        </table>
        <hr />
        </div>
    </div>
@section Scripts{

    <script src="~/Scripts/jquery-2.1.0.js"></script>
    <script src="~/Scripts/Producto.js"></script>
    <script src="~/Scripts/Accounting.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/Accounting.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>

    <link href="~/Content/smoothness.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
}
